body{
	background-color: #EEE;
}

.navbar{
	background-color: #EEE!important;
	border: 1em solid #3F51B5;
}

.name{
	font-size: 1.5em!important;
	color: #3F51B5!important;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
	}

.name:hover{
	background-color: #3F51B5!important;
	color: white!important;
}


.background{
	font-size: 1.5em!important;
	color: #3F51B5!important;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
	}

.background:hover{
	background-color: #3F51B5!important;
	color: white!important;
}

.projects{
	font-size: 1.5em!important;
	color: #3F51B5!important;
	-webkit-transition: color 1s, background-color 1s;
	transition: color 1s, background-color 1s;
	}

.projects:hover{
	background-color: #3F51B5!important;
	color: white!important;
}

.contact{
	font-size: 1.5em!important;
	color: #3F51B5!important;
	-webkit-transition: color 1s, background-color 1s;
	transition: color 1s, background-color 1s;
	}

.contact:hover{
	background-color: #3F51B5!important;
	color: white!important;
}

#welcomemain{
	background-color: #EEE;
	height: 50em;
	padding: 7em;
	text-align: center;

}

.welcome{
	padding-top: 0.6em;
	text-align: center;
	font-size: 90px;
	color: #3F51B5;
	padding-bottom: 0.75em;
}

#backgroundmain{
	background-color: #3F51B5;
	height: 50em;
	padding: 4.5em;
	padding-top: 6em;
	text-align: center;

}

.backgroundtitle{
	margin: 0 auto;
	display: inline-block;
	border: 0.1em solid #EEE;
	text-align: center;
	font-size: 3em;
	color: #EEE;
}

.backgroundbody{
	text-align: center;
	font-size: 2em;
	color: #EEE;
}

#projectmain{
	background-color: #EEE;
	height: 50em;
	padding: 4.5em;
	padding-top: 6em;
	text-align: center;
}

.projecttitle{
	margin: 0 auto;
	display: inline-block;
	border: 0.1em solid #3F51B5;
	text-align: center;
	font-size: 3em;
	color: #3F51B5;
}

.circle{
	margin: 6em auto 0 auto;
	height: 15em;
	width: 15em;
	border-radius: 50%;
	background-color: #3F51B5;
}

.circle i{
	color: #EEE;
	font-size: 5em;
	padding-top: 1em;
}

.purplebutton{
	font-size: 2em;
	color:#EEE;
	background-color: #3F51B5;
	height: 4em;
	width: 10em;
	border-radius: 15%;
}

.details
{
	padding: 1em;
	color: #3F51B5;
	font-size: 2em;

}

.divider{	
content: " ";
border: solid 0.2em #3F51B5;
display: block;
width: 4em;
margin: 2em auto 0 auto;
}